boto3==1.7.14
botocore==1.10.14
docutils==0.14
enum34==1.1.6
fastparquet==0.1.5
funcsigs==1.0.2
futures==3.2.0
jmespath==0.9.3
llvmlite==0.23.0
numba==0.38.0
numpy==1.14.3
pandas==0.23.0
python-dateutil==2.7.2
pytz==2018.4
s3fs==0.1.5
s3transfer==0.1.13
singledispatch==3.4.0.3
six==1.11.0
thrift==0.11.0
